body {
    user-select:none;
    background-color: #2a2a2a;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

body > *{
    box-sizing: border-box;
}

@font-face{
    font-family: 'Combo';
    src: url('./fonts/Top-Show.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Score';
    src: url('./fonts/RAXTOR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Main';
    src: url('./fonts/Orbitron-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'UI';
    src: url('./fonts/Metropolis-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style:normal;
}
.combo-font{
    font-family: 'Combo';
}
.score-font{
    font-family: 'Score';
}
.main-font{
    font-family: 'Main';
}
.ui-font{
    font-family: 'UI';
}
.ui-font * {
    font-family: inherit;
}

#map-select{
    width:30%;
    user-select: auto;
    padding:30px;
    display:inline-block;
}

#map-select > *{
    border:0;
    margin-bottom: 25px;
    padding:0;
}

#map-id-input{
    font-size: 30px;
    box-sizing: border-box;
    padding:10px;
    width:75%;
    height: 50px;
    overflow: hidden;
    outline: none;
}

#start-button{
    right:0;
    width:25%;
    line-height: 50px;
    font-size: 30px;
    height: 50px;
    background-color: #19ff62;
    transform:skew(-20deg);
    text-align: center;
    margin-left:-15px;
    flex-grow: 1;
    overflow: hidden;
}

#dif-selector{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

#pause-screen{
    position: absolute;
    display: none;
    height: 100vh;
    width:100%;
    flex-direction: column;
    margin: 0 auto;
    top:0px;
    align-self:center;
    padding: 5% 0 5% 0;
    background-color: rgba(0,0,0,0.8);
}

#pause-screen > *{
    height:10%;
    margin:auto;
    z-index:10;
    width:40%;
    color: black;
    font-size: 40px;
    height:20%;
}

#fps-counter{
    position: absolute;
    bottom:8px;
    right:8px;
    color: white;
    font-size: 20px;
    z-index: 10;
}

#playarea{
    position: absolute;
	height: 100vh;
	width: 32%;
	margin: 0 auto;
	border-left: 5px solid white;
    border-right: 5px solid white;
    top:0px;
    align-self:center;
    left:50%;
    transform: translate(-50%);
    background-color: black;
}

#overlay > *{
    z-index: 5;
    transform: translate(-50%, 0);
    left: 50%;
}

#top-container{
    position: absolute;
    top: 3%;
}

#score{
    font-family: "Score";
    top:0;
    right:0;
    color: white;
    font-size: 70px;
    position:absolute;
    z-index:10;
}

#progress-bar{
    position:absolute;
    top:0;
    width:0;
    height: 5px;
    background-color:#50DFFD;
    z-index:10;
    float:left;
}

#accuracy{
    color: darkgray;
    font-size: 40px;
}

#user-vars{
    position: absolute;
    color: darkgray;
    font-size: 20px;
    text-align: center;
    top: 20%;
    width: 100%;
    white-space: pre-wrap;
}

#scroll-speed, #offset{
    opacity: 0;
}

#ur-bar{
    position: absolute;
    left: 50%;
    top: 45%;
    width: 3px;
    height: 25px;
    background-color: rgb(234, 234, 234);
}

.ur-note{
    z-index:10;
    width: 3px;
    height: 25px;
    position: absolute;
}

#combo{
    font-family: "Combo";
    position: absolute;
    font-size: 50px;
    color: rgb(234, 234, 234);
    top: 47%;
}

#judgement{
    position: absolute;
    font-size: 30px;
    top: 50%;
}


#line {
	height: 4px;
	width: 100%;
	background-color: green;
	position: absolute;
}

#container {
	position: relative;
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
    display: inline-block;
}

.column {
    width: 25%;
    height: 100%;
    background-color: black;
    float: left;
  }

#col1 .note, #col4 .note{
    background-color:#50DFFD;
}

#col2 .note, #col3 .note{
    background-color:white;
}

#col1 .hold, #col4 .hold{
    background-color:#50DFFD;
}

#col2 .hold, #col3 .hold{
    background-color:white;
}

.hold{
    z-index:1;
    width:100%;
    position: absolute;
}

.note {
	position: absolute;
	width: 25%;
    aspect-ratio: 2/1;
    overflow: visible;
}

.note-item{
    width:100%;
    position: absolute;
    bottom: 0px;
    z-index:4;
    height: auto;
}

.hold-head{
    z-index:3;
    width:100%;
    position: absolute;
}

.receptor{
    position: absolute;
    width:25%;
    z-index:2;
}

#hit-count-container{
    position:absolute;
    height:420px;
    width:140px;
    top:50%;
    right:0;
    transform: translateY(-50%);
    display:inline-flex;
    flex-direction: column;
}
#hit-count-container > *{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    flex: 1;
    margin: 5px;
    background-color: rgba(0,0,0,0.8);
    aspect-ratio: 2;
    opacity:75%;
}
#user-ratio{
    background-color:transparent;
    color:white;
}
#_320-count{
    border: 3px solid #50DFFD;
    color: #50DFFD;
}
#_300-count{
    border: 3px solid #ffe061;
    color: #ffe061
}
#_200-count{
    border: 3px solid #41ff18;
    color: #41ff18
}
#_100-count{
    border: 3px solid #57acff;
    color: #57acff
}
#_50-count{
    border: 3px solid #b900e4;
    color: #b900e4
}
#_0-count{
    border: 3px solid #ff0000;
    color: #ff0000
}

.svg{
    filter: invert(90%);
    width: 50px;
    height: 50px;
}

#settings-btn {
    transition: transform 0.5s ease;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index:2
}

#settings-menu{
    font-family: 'UI';
    transition: right 0.5s ease;
    position: absolute;
    top:0px;
    right:-500px;
    width:500px;
    height: 100vh;
    z-index:1;
    background-color:rgba(0,0,0,0.8);
    padding-top:70px;
    color:white;
}

#settings-menu > *{
    padding:30px;
}
.setting{
    background-color:rgba(255,255,255,0);
    transition: background-color 0.3s ease;
    z-index: 3;
}
.setting:hover{
    background-color:rgba(255,255,255,0.4);
}

#settings-menu > * > *{
    font-size: 30px;
    position: center;
    width:100%;
}
#keybind-container{
    display:flex;
    justify-content: center;
    z-index: 4;
}
#keybind-container>*{
    font-size: 30px;
    margin:10px;
    width:20%;
    height:120px;
    border-radius:10px;
    text-align: center;
    text-transform: uppercase;
    caret-color: transparent;
    border-color:transparent;
    cursor:pointer;
    z-index: 0;
}

#keybinds{
    z-index: 5;
    cursor:pointer;
}

#keybind-overlay{
    z-index: 10;
    cursor:pointer;
    height:100%;
}

.keybind-input:read-only {
    opacity: 1;
    background-color: #eee;
}

.keybind-input{
    z-index:0;
    opacity: 1;
    background-color: #75CBDD;
}

#download-bar{
    box-sizing: border-box;
    width:100%;
    background-color: #202020;
    height:35px;
    align-items: center;
    position: relative;
}

#download-filled{
    height: 100%;
    background-color: #75CBDD;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
}

#download-percent{
    position: absolute;
    left:15px;
    color:white;
    line-height: 35px;
    z-index: 2;
}

#diff-selector-buttons{
    width:100%;
    display:flex;
}

#diff-selector-buttons > *{
    flex-grow:1;
    transform:skew(-20deg);
    right:0;
    transform:skew(-20deg);
    text-align: center;
    overflow: hidden;
    border:none;
    margin-left: 0px;
    height: 50px;
    font-size:20px;
}

.disabledDiffButton{
    background: linear-gradient(to right, 
    rgba(255, 255, 255, 0.5) 2%,
    rgba(224, 250, 255, 0.5) 5%,
    rgba(84, 138, 208, 0.5) 90%,
    rgba(6, 12, 92, 0.5) 100%
    );
}
.enabledDiffButton{
    background: linear-gradient(to right, 
    rgba(255, 255, 255, 1) 2%,
    rgba(224, 250, 255, 1) 5%,
    rgba(84, 138, 208, 1) 90%,
    rgba(6, 12, 92, 1) 100%
    );
}

#diff-selector-buttons > * > *{
    transform:skew(20deg);
}

.difficulty-button{
    height:50px;
    margin:5px;
}

.diffTitle{
    font-size: 40px;
    padding:5px 15px 5px 0;
}

.diffInfoContainer{
    display:flex;
    flex-direction: column;
    text-align: left;
}

.diffArtist{
    font-size: 15px;
}

.diffText{
    font-size: 25px;
}